@font-face {
  font-family: 'OtomanopeeOne-Regular.ttf';
  src: url('./OtomanopeeOne-Regular.ttf') format('ttf'),
    url('./OtomanopeeOne-Regular.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'OtomanopeeOne-Regular.ttf';
  background: url('./pic.jpeg');
}